/* dashboard.css */
  .dashboard-container {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
    width: 77%;
    margin-left: 21.5%;
    margin-top: 1%;
    border-radius: 10px;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .stat-card {
    flex: 1;
    margin: 0 10px;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .chart-card {
    flex: 1;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .card-content {
    padding: 16px;
  }
  