.userticket-container {
    height: 100%;
    width: 77%;
    margin-left: 22.5%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, .3) 0 2px 4px 0;
    display: flex;
    padding: 2rem;
    margin-bottom: 1%;
}

.usertickets {
    justify-content: center;
    align-items: center;
    width: 100%;
}
